
.content {
  height:80vh;
  width: 100%; /* or whatever is required */
  //text-align: center !important; /* ensures the image is always in the h-middle */
  //background: url('../images/background/connected.png') no-repeat fixed center !important;

}
.logo {
  position: relative!important;
  left: 20%;

}