
.content {
  height:80vh;
  width: 100%; /* or whatever is required */
}


.container{
  background: rgb(26, 37, 47);
  //background: transparent url('../images/background/soccer_game_background.jpeg') fixed center !important;
  min-height:65vh;
  max-height: 65vh;
  overflow: hidden;
  width: 100%;
  display:block;
  margin: 0 auto;
}
