

.content {
  height:80vh;
  width: 100%; /*this is required for the css isomorphism*/
}


.container{
  background:white;
height:75vh;

  overflow: hidden;
  width: 100%;
  display:block;
  margin: 0 auto;
}
.text {
  color: #015367;
  font-size: 100%;
  margin: 0;
  position: absolute;
  top: 32%;
  left: 28%;
  z-index: 100;
}
