
content {
  height:80vh;
  width: 100%; /* or whatever is required */
  //text-align: center !important; /* ensures the image is always in the h-middle */
  //background: url('../images/background/connected.png') no-repeat fixed center !important;
}


.container {
  background: white;
  width: 90vh;
  padding: 15px;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 70;
  content: "";
  display: inline-block;
  overflow: auto;
}
.titleSection {
  display: inline;
  margin-bottom: 10px;
  color: #015367;
}

.label {
  color: #015367;
}

.titleResult{
  text-align: center;
  font-weight: bold;
  font-size: 120%;
  display: inline;
}

.result {
  display: inline;
  font-size: 100%;
  margin-bottom: 10px;
  color: #015367;
}
.list {
  overflow: auto !important;
  height: 45vh;
  color: #015367;
}


.menu{
  padding: 5px;
  display: inline;
}
