content {
  height:80vh;
  width: 100%; /* is required for isomorphism */


}

.container {
  text-align: center;
  background: rgb(26, 37, 47);
padding: 15px;
}

.h1 {
  display: block;
  margin-bottom: 10px;
  color: white;
}
.result {
  display: block;
  margin-bottom: 10px;
  color: white;
}
