content {
  height:80vh;
  width: 100%; /* or whatever is required */
  //text-align: center !important; /* ensures the image is always in the h-middle */
  //background: url('../images/background/connected.png') no-repeat fixed center !important;

}
.container {
  padding: 10px;
  //text-align: center;
  display: table;
  margin: 0 auto;
  overflow: hidden;
}

.list {
  min-width: 696px;
  list-style: none;
}

.li {
  display: inline;
  padding-left: 28px;
  padding-right: 28px;
}
.img {
  width: 49px!important;  height: 49px!important;

}
//  /* Set rules to fill background */
//  min-height: 100%;
//  min-width: 100%;
//
//  //min-width: 1024px;
//  overflow: hidden;
//  /* Set up proportionate scaling */
//  width: auto;
//  height: auto;